.terraform/
static-website-with-health-checker/.terraform
static-website-with-health-checker/.terraform.lock.hcl
static-website-with-health-checker/terraform.tfstate
static-website-with-health-checker/terraform.tfstate.backup
create-ec2/terraform.tfstate.backup
create-ec2/terraform.tfstate
create-ec2/.terraform.tfstate.lock.info
.terraform.lock.hcl
.qodo
terraform.tfstate
terraform.tfstate.backup
deploy_and_expose_app/yes
deploy_and_expose_app/yes.pub
deploy_and_expose_app/.terr*